/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body, .ui-page, .ui-content { height: 100%;}

@font-face {
    font-family: bradhitc;
    src: url('bradhitc.ttf');
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

.btn-voltar {
    background-color: transparent !important;
    border: none;
    font-family: bradhitc !important;
    font-size: 1em !important;
    color: #d10304 !important;
}

img[src='img/logo.png'] {
    margin-top: 1em;
    height: 30%;
    
}

#inicio .ui-content {
    text-align: center;
}

#inicio .ui-content .ui-body {
    width: 80%;
    margin: 0 auto;
}

#inicio ul li a{
    padding: 1em 1em 1em 4em;
    background-image: url('../img/btn-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    font-family: bradhitc;
}

.ui-page, .ui-content {
    background-repeat: no-repeat;
}

.ui-page {
    height: 100%;
    
    background-image: url('../img/background.jpg');
    background-position: top center;
    background-size: cover;
}

.ui-content {
    padding: 0;
    
    background-image: url('../img/ponte.png');
    background-position: bottom center;
    background-size: contain;
}